@keyframes moveToTableFromLocalFlip {
    0% {
        transform: translateX(198pt) rotateY(-180deg);
        background-image: url('../../card-kierki-back.png');
    }

    100% {
        transform: translateX(0pt) rotateY(0deg);
    }
}

@keyframes moveToTableFromRemoteFlip {
    0% {
        transform: translateX(-198pt) rotateY(180deg);
        background-image: url('../../card-kierki-back.png');
    }

    100% {
        transform: translateX(0pt) rotateY(0deg);
    }
}

.showBack {
    background-image: url('../../card-kierki-back.png');
}

#card1-a.showFace {
    background-image: url('../../card-batanimo-1a.png');
}

#card2-a.showFace {
    background-image: url('../../card-batanimo-2a.png');
}

#card3-a.showFace {
    background-image: url('../../card-batanimo-3a.png');
}

#card4-a.showFace {
    background-image: url('../../card-batanimo-4a.png');
}

#card5-a.showFace {
    background-image: url('../../card-batanimo-5a.png');
}

#card6-a.showFace {
    background-image: url('../../card-batanimo-6a.png');
}

#card1-b.showFace {
    background-image: url('../../card-batanimo-1b.png');
}

#card2-b.showFace {
    background-image: url('../../card-batanimo-2b.png');
}

#card3-b.showFace {
    background-image: url('../../card-batanimo-3b.png');
}

#card4-b.showFace {
    background-image: url('../../card-batanimo-4b.png');
}

#card5-b.showFace {
    background-image: url('../../card-batanimo-5b.png');
}

#card6-b.showFace {
    background-image: url('../../card-batanimo-6b.png');
}

#card1-c.showFace {
    background-image: url('../../card-batanimo-1c.png');
}

#card2-c.showFace {
    background-image: url('../../card-batanimo-2c.png');
}

#card3-c.showFace {
    background-image: url('../../card-batanimo-3c.png');
}

#card4-c.showFace {
    background-image: url('../../card-batanimo-4c.png');
}

#card5-c.showFace {
    background-image: url('../../card-batanimo-5c.png');
}

#card6-c.showFace {
    background-image: url('../../card-batanimo-6c.png');
}

#card1-d.showFace {
    background-image: url('../../card-batanimo-1d.png');
}

#card2-d.showFace {
    background-image: url('../../card-batanimo-2d.png');
}

#card3-d.showFace {
    background-image: url('../../card-batanimo-3d.png');
}

#card4-d.showFace {
    background-image: url('../../card-batanimo-4d.png');
}

#card5-d.showFace {
    background-image: url('../../card-batanimo-5d.png');
}

#card6-d.showFace {
    background-image: url('../../card-batanimo-6d.png');
}

#card1-e.showFace {
    background-image: url('../../card-batanimo-1e.png');
}

#card2-e.showFace {
    background-image: url('../../card-batanimo-2e.png');
}

#card3-e.showFace {
    background-image: url('../../card-batanimo-3e.png');
}

#card4-e.showFace {
    background-image: url('../../card-batanimo-4e.png');
}

#card5-e.showFace {
    background-image: url('../../card-batanimo-5e.png');
}

#card6-e.showFace {
    background-image: url('../../card-batanimo-6e.png');
}

#card1-f.showFace {
    background-image: url('../../card-batanimo-1f.png');
}

#card2-f.showFace {
    background-image: url('../../card-batanimo-2f.png');
}

#card3-f.showFace {
    background-image: url('../../card-batanimo-3f.png');
}

#card4-f.showFace {
    background-image: url('../../card-batanimo-4f.png');
}

#card5-f.showFace {
    background-image: url('../../card-batanimo-5f.png');
}

#card6-f.showFace {
    background-image: url('../../card-batanimo-6f.png');
}

#card14-a.showFace {
    background-image: url('../../card-batanimo-14a.png');
}
