body {
    margin: 0 0 0 0;
    background-image: radial-gradient(transparent 80%, rgb(232,232,230) 150%),
        url('../../../../resources/background.png');
    background-size: cover;
}

.menuButton {
    background-image: url('../../../../resources/hamburger-menu.png');
    background-repeat: no-repeat;
}

.menu {
    display: none;
}

.menu.visible {
    display: block;
    background-color: rgba(0.6, 0.6, 0.5, 0.3);
    width: 16em;
    padding: 1em;
}

input.addWord {
    display: none;
}

input.addWord.visible {
    display: block;
    font-size: 12pt;
    height: 3em;
    width: 12em;
    margin: 1em 1em 1em 2em;
    padding: 1em 1em 1em 1em;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-width: 0.2em;
    border-style: solid;
    border-color: white;
}

.addWordMode, .exitAddWordMode, .playMode, .replay {
    display: none;
}

.addWordMode.visible, .exitAddWordMode.visible, .playMode.visible, .replay.visible {
    display: block;
}

.addToDictionary {
    display: none;
}

.addToDictionary.visible {
    display: block;
}

.addedDictionaryWordStatus {
    display: none;
}

.addedDictionaryWordStatus.visible {
    display: block;
    width: 12em;
    color: white;
    font-family: sans-serif;
    margin: 1em 2em 1em 2em;
    border: 2pt dashed white;
    padding: 1em;
    padding: 1em 1em 2em 1em;
    box-sizing: border-box;
    border-radius: 0.4em;
}

.addedDictionaryWordStatus.visible::before {
    content: 'added word: '
}

.textButton {
    height: 3em;
    border-radius: 0.4em;
    margin: 2em;
    background-color: transparent;
    font-size: 1em;
    width: 12em;
    color: white;
    border-width: 0.2em;
    border-color: white;
}

.iconbutton {
    height: 6em;
    width: 6em;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
}

.game {
    height: 80%;
    width: 100%;
}

.playArea {
    width: 80%;
    margin: 6% auto;
}

.player {
    width: 100%;
}

.table {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10pt 0 2pt;
    min-width: 18%;
}

.hand {
    position: relative;
    display: inline-block;

    height: 172pt;

    margin-left: 224pt;
    vertical-align: middle;
}

.name {
    display: block;

    height: 3em;
    margin: 1em 0 1em 21%;
    padding: 1em;

    border-radius: 4pt;
    border-color: rgba(255,255,255,0.7);
    border-width: 4pt;
    border-style: solid;

    font-size: 14pt;
    font-family: fantasy;

    background-color: rgba(40,80,10,0.4);
    color: white;
}

@keyframes moveToTableFromLocalFlip {
    0% {
        transform: translateX(198pt) rotateY(-180deg);
        background-image: url('../../../../resources/card-back.png');
    }

    100% {
        transform: translateX(0pt) rotateY(0deg);
    }
}

@keyframes moveToTableFromLocal {
    0% {
        transform: translateX(198pt);
    }

    100% {
        transform: translateX(0pt);
    }
}

@keyframes moveToTableFromRemoteFlip {
    0% {
        transform: translateX(-198pt) rotateY(180deg);
        background-image: url('../../../../resources/card-back.png');
    }

    100% {
        transform: translateX(0pt) rotateY(0deg);
    }
}

@keyframes moveToTableFromRemote {
    0% {
        transform: translateX(-198pt);
    }

    100% {
        transform: translateX(0pt);
    }
}

@keyframes wiggling {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(10px);
    }

    37% {
        transform: translateX(-20px);
    }

    59% {
        transform: translateX(20px);
    }

    81% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.table>.card.movingToTableFromLocalFlip {
    animation-duration: 200ms;
    animation-timing-function: cubic-bezier(.17,.03,.95,.3);
    animation-name: moveToTableFromLocalFlip;
}

.table>.card.movingToTableFromLocal {
    animation-duration: 200ms;
    animation-timing-function: cubic-bezier(.17,.03,.95,.3);
    animation-name: moveToTableFromLocal;
}

.table>.card.movingToTableFromRemoteFlip {
    animation-duration: 200ms;
    animation-timing-function: cubic-bezier(.17,.03,.95,.3);
    animation-name: moveToTableFromRemoteFlip;
}

.table>.card.movingToTableFromRemote {
    animation-duration: 200ms;
    animation-timing-function: cubic-bezier(.17,.03,.95,.3);
    animation-name: moveToTableFromRemote;
}

.hand>.card.wiggling {
    animation-duration: 200ms;
    animation-name: wiggling;
}

.card {
    display: inline-block;
    position: absolute;

    vertical-align: middle;
    margin: 2pt 2pt 2pt 2pt;
    height: 120pt;
    width: 74pt;

    border: 12pt solid #fff;
    border-radius: 12pt;

    background-color: white;
    background-size: cover;

    box-shadow: 1px 1px 3px #333;
}

.showBack {
    background-image: url('../../../../resources/card-back.png');
}

.showBack>div {
    display: none;
}

.result {
    display: inline-block;
    padding: 4pt 14pt;
    margin: 4pt 14pt;

    font-family: sans-serif;
    font-size: 14pt;
}

@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px) {

    .button {
        width: 300pt;
        height: 88pt;
        font-size: 38pt;
    }

    input.addWord {
        font-size: 14pt;
        height: 80px;
        width: 200px;
        margin: 6pt 6pt 6pt 18pt;
        padding: 12pt 6pt 12pt 6pt;
    }
        
    .playArea {
        width: 100%;
    }

    .hand {
        position: relative;
        display: inline-block;

        height: 270pt;

        margin-left: 224pt;
        vertical-align: middle;
    }

    .card {
        height: 240pt;
        width: 148pt;

        font-size: 18pt;
    }
}

@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (orientation: landscape) {

    .game {
        height: 64%;
    }

    .button {
        width: 300pt;
        height: 88pt;
        font-size: 38pt;
    }

    .playArea {
        width: 80%;
    }

    .hand {
        position: relative;
        display: inline-block;

        height: 112pt;

        margin-left: 224pt;
        vertical-align: middle;
    }

    .hand>.card {
        height: 3em;
        width: 5em;
    }
    
    .table>.card {
        height: 6em;
        width: 10em;

        font-size: 18pt;
    }
}

#clock {
    font-family: fantasy;
    font-size: 18pt;
    font-weight: bold;
}

.card#showFace {
    background-image: url('../../../../resources/card-queenliz.png');
}

.card>div {
    margin: 60 10 10 10;
    font-family: sans-serif;
    text-align: center;
}

